@model IEnumerable<TestMVC.Models.Reservation>

<h1 class="text-center">Gestion de Reservas</h1>
<a  asp-controller="Reservations" asp-action="Create" class="btn btn-info mb-3">Crear Nueva Reserva</a>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead>
                <th>Id</th>
                <th>Dia</th>
                <th>Hora</th>
                <th>Cliente</th>
                </thead>
                <tbody>
                @foreach (var reservation in Model)
                {
                    <tr>
                        <td>@reservation.Id</td>
                        <td>@reservation.Date</td>
                        <td>@reservation.Hour</td>
                        <td>@reservation.Client.FullName</td>
                        <td>
                            <div class="d-flex flex-column flex-sm-row gap-2">
                                <a asp-controller="Reservations" asp-action="Details" asp-route-id="@reservation.Id" class="btn btn-info btn-sm">Detalles</a>
                                <a asp-controller="Reservations" asp-action="Edit" asp-route-id="@reservation.Id" class="btn btn-warning btn-sm">Editar</a>
                                <a asp-controller="Reservations" asp-action="Delete" asp-route-id="@reservation.Id" class="btn btn-danger btn-sm">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>