@model TestMVC.Models.Order

<h2 class="mt-5">Eliminar Orden</h2>

<div class="alert alert-warning">
    <p>¿Estás seguro de que quieres eliminar esta orden?</p>
</div>

<ul class="list-group mb-3">
    <li class="list-group-item"><strong>ID:</strong> @Model.Id</li>
    <li class="list-group-item"><strong>Orden Number:</strong> @Model.OrderNumber</li>
    <li class="list-group-item"><strong>Fecha:</strong> @Model.Date</li>
    <li class="list-group-item"><strong>Cliente:</strong>  @Model.IdClient</li>
</ul>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form> 